.settings {
   &__nav {
    float: right;
    
       .dropdown-toggle {
          cursor: pointer;
       }
   }

   &__frequency {
       label {
        margin-right: $element-spacing;
       }
   }
}