.settings {
   &__nav {
    float: right;
    
       .dropdown-toggle {
          cursor: pointer;
       }
   }

   h3 {
       color: $light-grey;
       margin-bottom: $element-spacing;
   }

   &__frequency {
       label {
        margin-right: $element-spacing;
       }
   }
}