@mixin addButtons {
    text-align: center;
    background-color: $dusk;
    float: right;

    &:hover {
            background-color: $musk;
            color: #fff;
            border-color: $musk;
        }
}

.budget {
    
    &__header {
        margin-bottom: $component-spacing;
        border-bottom: 1px solid $border-colour;
        padding-bottom: $element-spacing;
    }

    &__addExpense {
        @include addButtons();
        border-radius: 5px 0 0 5px;
        border-right: 1px solid $musk;
    }

    &__addIncome {
        @include addButtons();
        border-radius: 0 5px 5px 0;
    }

    &__items {
        display: inline-block;
    }

    &__items-appear {
        opacity: 0;
        transform:   translate(-250px,0);
        transform: translate3d(-250px,0,0);
    }

    &__items-appear-active {
        opacity: 1;
        transition: opacity 1s ease;
        transform:   translate(0,0);
        transform: translate3d(0,0,0);
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    }

    &__items-enter {
        opacity: 0;
        transform:   translate(-250px,0);
        transform: translate3d(-250px,0,0);
    }

    &__items-enter-active {
        opacity: 1;
        transition: opacity 1s ease;
        transform:   translate(0,0);
        transform: translate3d(0,0,0);
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    }

    &__items-leave {
        opacity: 1;
        transform:   translate(0,0,0);
        transform: translate3d(0,0,0);
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    }

    &__items-leave-active {
        opacity: 0;
        transform:   translate(250px,0);
        transform: translate3d(250px,0,0);
    }

}