.newIncomeExpense {
    
    &__name {
        width: 70%;
        float: left;

        input {
            background-color: transparent;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            width: 100%;
            height: 50px;
            text-indent: $element-spacing;
            font-weight: normal;
            font-size: $component-spacing;
            color: #fff;
        }
    }

    &__saveBtn {
        background-color: $musk;
        color: $light-grey;

        &:hover {
            color: #fff;
        }
    }

    &__amount {
        width: calc(20% - 15px);
        float: right;

        input {
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            background-color: transparent;
            font-size: $component-spacing;
            width: 100%;
            height: 50px;
            color: #fff;
        }
    }

    &__frequency {
        label {
            display: inline-block;
            width: 50%;
            padding: $block-spacing;

            &:hover {
                color: #fff;
            }
        }

        input {
            margin-right: $block-spacing;
        }
    }

    &__desc {
        margin-top: $component-spacing;
        margin-bottom: $component-spacing;

        input {
            font-size: 16px;
            width: 100%;
            background-color: transparent;

            &:focus, 
            &:hover {
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;                
                border-right: 1px solid transparent;
            }
        }
    }

    &.error {
        input[type=text], label {
            border: 1px solid red !important;
        }
    }
}