.budgetSummaryItem {
    &__item {
        padding-bottom: $block-spacing;
        color: #fff;
        position: relative;

        .budgetSummaryItemMask {
                @include mask(0.1, $light-grey);
            }
        &:nth-child(even) {
            .budgetSummaryItemMask {
                @include mask(0.1, $musk);
            }
        }
    }

    &__item-expense {
        padding-top: $block-spacing;            
        padding-bottom: $block-spacing;

        &:hover {
            color: red;
        }
    }

    &__item-income {
        padding-top: $block-spacing;            
        padding-bottom: $block-spacing;

        &:hover {
            color: green;
        }
    }

    &__name {
        display: inline-block;
        width: 20%;
        text-indent: $block-spacing;
    }

    &__description {
        display: inline-block;
        width: 50%; 
    }

    &__action {
        display: inline-block;
        width: 20%; 
    }

    &__amount {
        display: inline-block;
        width: 10%;
        text-align: right;
        padding-right: $block-spacing;
    }
}