@mixin popText {
    text-shadow: -1px 1px 1px #fff;
}

h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: $component-spacing;
    border-bottom: 1px solid $border-colour;
    padding-bottom: $element-spacing;
    text-transform: uppercase;
    letter-spacing: 1px;
}

