$blue: #0099cc;
$grey: #333333;
$light-grey: #f8f8f8;
$dusk: #d86e8e;
$musk: #300522;
$ruby: #9E1150;

$border-colour: #ececec;

@mixin mask($opacity, $backgroundColor) {
    opacity: $opacity;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $backgroundColor;
    z-index: 0;
}

@mixin radialGradient() {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d86e8e+0,300522+100 */
    background: #d86e8e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d86e8e 0%, #300522 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d86e8e 0%,#300522 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d86e8e 0%,#300522 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d86e8e', endColorstr='#300522',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin verticalGradient() {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d86e8e+0,300522+100 */
    background: #d86e8e; /* Old browsers */
    background: -moz-linear-gradient(top, #d86e8e 0%, #300522 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d86e8e 0%,#300522 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d86e8e 0%,#300522 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d86e8e', endColorstr='#300522',GradientType=0 ); /* IE6-9 */
}