* {
    padding: 0;
    margin: 0;
}
// typography 
* {
    font-family: Helvetica, Arial, sans-serif;
}



@import './vendor/bootstrap/stylesheets/bootstrap';
@import './Global/variables.scss';
@import './Global/layout.scss';
@import './Global/utilities.scss';
@import './Global/typography.scss';
@import './Global/form.scss';
@import './Settings/settings.scss';
@import './Global/header.scss';
@import './Global/ui/tooltip.scss';
@import './Global/ui/notification.scss';
@import './Budget/budget.scss';
@import './Budget/new.scss';
@import './Budget/summary.scss';
@import './Budget/summaryItem.scss';
